
<h3>Testaufgaben (Runde {{test.run}})</h3>
<uib-progressbar type="info" value="test.count" max="test.tests.length" title="Fortschritt">{{test.count}}/{{test.tests.length}}</uib-progressbar>
<uib-progressbar type="success" value="test.score.current" max="test.score.max" title="Punkte">{{test.score.current}}/{{test.score.max}}</uib-progressbar>
<uib-tabset justified="true">
  <uib-tab heading="Aufgaben" active="true">
    <h4>Aufgabe {{test.form.$submitted ? test.count : test.count+1}}</h4>
    <uib-alert type="warning" close="test.reload()" ng-if="test.error &amp;&amp; test.error.status === 412">Du hast diesen Test bereits in einem anderen Browser fortgesetzt.</uib-alert>
    <div markdown="test.tests[test.item].text"></div>
    <form novalidate name="test.form" ng-switch="test.tests[test.item].type" ng-submit="test.submit()">
      <div ng-switch-when="input" ng-class="{'has-success': test.output.correct === true, 'has-error': test.output.correct === false}" class="form-group">
        <label for="item" class="control-label">Antwort</label>
        <input id="item" type="text" required autocomplete="off" name="item" ng-model="test.response" class="form-control">
        <p markdown="test.output.feedback || (test.output.correct ? test.tests[test.item].feedback_right||test.feedback.right : test.tests[test.item].feedback_wrong||test.feedback.wrong)" ng-show="test.form.$submitted" class="help-block"></p>
      </div>
      <div ng-switch-when="single" ng-class="{'has-success': test.form.$submitted&amp;&amp;test.response.correct, 'has-error': test.form.$submitted&amp;&amp;!test.response.correct}" class="form-group">
        <div ng-repeat="c in test.tests[test.item].choices track by c._id" class="radio">
          <label>
            <input type="radio" required name="item" ng-value="c" ng-model="test.response"><span markdown="c.text"></span>
          </label>
        </div>
        <p markdown="test.response.feedback || (test.response.correct ? test.tests[test.item].feedback_right||test.feedback.right : test.tests[test.item].feedback_wrong||test.feedback.wrong)" ng-show="test.form.$submitted" class="help-block"></p>
      </div>
      <div ng-switch-when="multiple" class="form-group">
        <div ng-repeat="c in test.tests[test.item].choices track by c._id" ng-class="{'has-success': test.form.$submitted&amp;&amp;!!test.response[c._id]===c.correct, 'has-error': test.form.$submitted&amp;&amp;!!test.response[c._id]!==c.correct}">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="item" ng-model="test.response[c._id]"><span markdown="c.text"></span>
            </label>
          </div>
          <p markdown="!!test.response[c._id] === c.correct ? (c.feedback_right || c.feedback || test.feedback.right) : (c.feedback_wrong || c.feedback || test.feedback.wrong)" ng-show="test.form.$submitted" class="help-block"></p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" ng-if="!test.form.$submitted" ng-class="{'btn-primary': test.form.$valid, 'btn-disabled': test.form.$invalid}" ng-disabled="test.form.$invalid" class="btn">Antwort abschicken</button>
        <button type="button" ng-if="test.form.$submitted" ng-click="test.next()" ng-bind="test.count === test.tests.length ? 'Test wiederholen' : 'Nächste Aufgabe'" class="btn btn-default"></button>
      </div>
    </form>
  </uib-tab>
  <uib-tab heading="Verlauf" select="test.getGuesses()">
    <uib-alert ng-if="test.guesses.length===0" type="info">Es liegen noch keine abgeschlossenen Testdurchgänge vor.</uib-alert>
    <table ng-if="test.guesses.length&gt;0" class="table">
      <thead>
        <tr>
          <th>Durchgang</th>
          <th>Gestartet</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="g in test.guesses track by g._id">
          <th ng-bind="$index+1"></th>
          <td ng-bind="g.createdAt | date : 'medium'"></td>
          <td>{{g.score}}/{{test.score.max}} ({{g.score/test.score.max*100 | number : 1}}%)</td>
        </tr>
      </tbody>
    </table>
  </uib-tab>
  <!--
  <uib-tab heading="Regeln">
    <h4>Aufgabentypen</h4>
    <dl class="dl-horizontal">
      <dt>Einfachauswahl</dt>
      <dd>Eine der angebotenen Antwortmöglichkeiten ist korrekt. Für die korrekte Beantwortung gibt es einen Punkt.</dd>
      <dt>Mehrfachauswahl</dt>
      <dd>Jede der angebotenen Optionen ist entweder korrekt oder falsch und muss explizit mittels Kontrollkästchen beantwortet werden. Für jede korrekt ab- bzw. angewählte Aussage gibt es einen Punkt, man kann also maximal so viele Punkte bekommen wie es Optionen in einer Aufgabe gibt. Punktabzug bei Fehlern gibt es nicht.</dd>
      <dt>Ausfüllen</dt>
      <dd>Es gibt keine Antwortoptionen, sondern du musst eine kurze Lösung selbst generieren, z.B. eine Rechenaufgabe usw.</dd>
    </dl>
    <h4>Feedback</h4>
    <p>Auf deine Antwort bekommst du ein Feedback. Bei Auswahl-Aufgaben kannst du auch dann noch die anderen Antworten anwählen um deren Feedback zu sehen, dies wird dann aber nicht mehr als deine Antwort gewertet.</p>
  </uib-tab>
  -->
</uib-tabset>
