h3 Meta
ul.nav.nav-tabs
  li(ng-repeat="(i, v) in main.items" ui-sref-active="active")
    a(ui-sref=".item({meta: i})" ng-bind="::v.menu")
div(ui-view)
  p Hier kannst du Metainformationen für das WBT anpassen. Startseite, Kontakthinweis und Impressum können hier angepasste Texte bekommen und in der Navigation aktiviert oder deaktiviert werden.
