<h3>Was kann man mit welchen Daten machen?</h3>
<p>
Vielleicht ist Ihnen der Gedanke schon selbst gekommen, oder Sie erinnern sich noch an das Schokoladenbeispiel zum Modalwert oder den Median der Intensität von Sinneseindrücken aus dem letzten Kapitel. Bei den subjektiv wahrgenommenen Intensitäten können wir zwar stärker und schwächer unterscheiden, aber es fällt schwer, dies exakt in Zahlen auszudrücken. Man kann höchstens den median bestimmen. Die Vorliebe für eine bestimmte Schokolade lässt noch nicht mal eine solche Sortierung zu, weil die Schokoladenpräferenzen keine Zahlen und dazu völlig gleichwertig sind. Es bleibt nur noch der Modalwert. Allgemein ausgedrückt bedeutet das folgendes:
</p>
<ul>
<li>Daten können von unterschiedlicher mathematischer Beschaffenheit sein, so wie die bisherigen Beispiele.</li>
<li>Man kann bei manchen dieser Beschaffenheiten nicht alle Kennwerte sinnvoll berechnen</li>
<li>Zusatz: Für die verschiedenen Beschaffenheiten gibt es jeweils angemessene und auch weniger angemessene grafische Darstellungsformen.</li>
</ul>
<div class="akkordeon">
<h4>Skalenniveau</h4>
<div>
<p>
Diese „Beschaffenheit“ lässt sich über die Beziehungen zwischen den Messwerten erfassen. Bei den Intensitäten besteht zwischen zwei Werten eine Größer/kleiner- und eine Gleich/ungleich-Beziehung, bei den Schokoladenpräferenzen nur eine Gleich/ungleich-Beziehung. Größer/kleiner ist eine komplexere Beziehung als gleich/ungleich, die Beschaffenheiten der Daten weisen also unterschiedliche Komplexitätsgrade auf. Die Beschaffenheit mit ihrem jeweiligen Komplexitätsgrad nennen wir in der Statistik Skalenniveau. In diesem Kapitel lernen Sie die insgesamt fünf Skalenniveaus mit ihren Eigenschaften kennen und erfahren, welche Kennwerte man auf dem jeweiligen Niveau berechnen kann. Generell gilt, je komplexer die Daten, desto mehr Statistik ist damit möglich.
</p>
</div>
<h4>Häufigkeitsverteilungen</h4>
<div>
<p>
Parallel dazu, welche Kennwerte man für Daten der verschiedenen Skalenniveaus berechnen kann, lernen Sie auch die grafischen Darstellungsformen kennen. Alle in diesem Kapitel vorgestellten Grafiken gehören zur Gruppe der Häufigkeitsverteilungen. In einer Häufigkeitsverteilung wird immer abgetragen, welche <span class="glos" data-key="Ausprägung">Ausprägungen</span> des gemessenen <span class="glos" data-key="Merkmal">Merkmals</span> wie häufig aufgetreten sind. Dadurch erhalten Sie mehr Informationen über die Daten als allein durch zentrale Tendenz und Streuung. Es gibt sehr unterschiedliche Arten, diese Auftretenshäufigkeiten grafisch auszudrücken, und nicht jede davon ist für jedes Skalenniveau geeignet.
</p>
<p>
Das Kapitel beginnt bei dem Niveau mit dem geringsten Komplexitätsgrad und steigt auf bis zum höchsten. Jedes Skalenniveau entspricht einer Seite, auf der Sie jeweils drei Tabs vorfinden werden: Definition, Kennwerte und Häufigkeitsverteilungen. Sehen Sie sich zu jedem Niveau die drei Aspekte an. Falls es Ihnen gerade etwas theorielastig ist, gehen Sie lieber mehrmals in angenehmem Tempo durch das Kapitel, sehen sich die Skalenniveaus und Grafiken an und beißen sich nicht gleich an einer Formulierung fest.
</p>
</div>
</div>
