<h3>Lernstand</h3>
<p>
Sie haben nun erfahren, dass Daten unterschiedlich viel Information enthalten können und dass es von diesem Informationsniveau abhängt, welche Kennwerte man aus diesen Daten berechnen kann und wie man die Häufigkeitsverteilung der Daten am vorteilhaftesten grafisch aufbereitet. Damit können Sie aus einem Datensatz schon einiges an wissen extrahieren um ihn beschreiben und untersuchen zu können. Auf die Denktrainings übertragen entspricht das dem Beobachten von Merkmalen und Beziehungen. Ab dem nächsten Kapitel wenden wir uns vom Beschreiben konkreter Daten dem Schlussfolgern von den Daten auf die Allgemeinheit zu. Das entspricht der eigentlichen Induktionsleistung, dem Erkennen von Gesetzmäßigkeiten aus konkreten Beobachtungen.
</p>
