<h3>Hilfe</h3>
<div class="akkordeon">
<h4>Wenn etwas nicht funktioniert</h4>
<div>
<ul>
<li>Browser auf aktuelle Version updaten</li>
<li>JavaScript aktivieren</li>
<li>bei langsamer Verbindung evtl. schnelles Internet aufsuchen</li>
</ul>
</div>
<h4>Excel</h4>
<div>
<p>
Sie können Excel als leistungsfähiges Arbeitswerkzeug für Statistik einsetzen. Wenn Sie einen Datensatz geöffnet haben, können Sie mit Hilfe von Formeln und Funktionen die Inhalte der Zellen verrechnen. Es folgen ein paar Grundlagen, die Ihnen beim Bearbeiten dieses wBT helfen können. Es wird ein Excel 2013 zugrunde gelegt. Größtenteils sollte das hier Beschriebene aber auch in älteren Versionen implementiert sein.
</p>
<h5>Formeln</h5>
<p>
Eine Formel kann die Grundrechenarten auf Zahlen anwenden. Wenn Sie einer Zelle eine Formel geben, zeigt diese Zelle das berechnete Ergebnis der Formel an. Markieren Sie die Zelle, in der das Ergebnis erscheinen soll und tragen Sie die Formel dort ein. Formeln beginnen mit einem Gleichheitszeichen (<kbd>=</kbd>) und werden mit der Return- oder Tabtaste ausgeführt. Schreiben Sie z.B. in eine Zelle <kbd>=12/4</kbd> und drücken danach Return oder Tab, wird das Ergebnis in dieser Zelle erscheinen. Die Zeichen für die Grundrechenoperatoren sind <kbd>+</kbd> (Pluszeichen), <kbd>-</kbd> (Minuszeichen) <kbd>*</kbd> (Multiplikationszeichen) und <kbd>/</kbd> (Divisionszeichen).
</p>
<h5>Referenzieren</h5>
<p>
Sie können Werte aus Zellen in Formeln verrechnen, indem Sie in der Formel die Zellbezüge notieren. Die Spalten werden von links nach rechts mit Buchstaben bezeichnet, Zeilen von oben nach unten mit Nummern. Die Zelle in der dritten Spalte von links und der zweiten Zeile von oben heißt z.B. C2. Würden Sie z.B. als Formel <kbd>=B2-C2</kbd>, wird der Wert der Zelle aus Spalte 3 und Zeile 2 vom Wert der Zelle aus Spalte 2 und Zeile 2 subtrahiert und diese Differenz in der Formelzelle angezeigt.
</p>
<p>
Diese Art der Referenzierung ist relativ. Wenn Sie eine mit einer solchen Formel versehene Zelle kopieren, passen sich die Bezüge darin an die Verschiebung an. Kopieren Sie die Formel <kbd>=C2+C3</kbd> in die Zelle rechts daneben, wird daraus <kbd>=D2+D3</kbd>. Wenn Sie nicht möchten, dass ein Bezug an den Verschiebungsvektor angepasst wird, müssen Sie den Buchstaben und zahlen ein Dollarzeichen (<kbd>$</kbd>) voranstellen. Dadurch können Sie genau bestimmen, ob die Spalte, Zeile oder beides in einem Bezug nicht relativ gemeint sind, sondern absolut. Lassen Sie also einfach vor dem Buchstaben oder der Nummer das Dollarzeichen weg, der/die weiterhin relativ bleiben soll.
</p>
<h5>Funktionen</h5>
<p>
Eine Funktion fasst komplexere Rechenoperationen unter einem Funktionsnamen zusammen. Einer Funktion werden die zu verrechnenden werte als sogenannte Parameter übergeben und die Funktion führt dann ihre Rechenoperationen mit diesen Werten aus. Funktionen erscheinen in Formeln, können entweder deren einziger Bestandteil sein oder noch von Rechenoperatoren umgeben sein. Die Notation entspricht diesem Schema: <kbd>=Funktionsname(Parameter1;Parameter2;…)</kbd>. Die Funktion zur Berechnung der Summe heißt naheliegenderweise Summe. Um die Summe aus C2 und C3 zu berechnen, lautet der Funktionsaufruf: <kbd>summe(C2;C3)</kbd>. Diese Aufgabe wäre natürlich mit einem direkten Formelaufruf schneller erledigt; Funktionen entfalten ihr Potential erst bei komplexeren Berechnungen wie auch Statistik.
</p>
<h5>Bereiche referenzieren</h5>
<p>
Um die Summenfunktion doch noch zu rehabilitieren, können Sie als Parameter auch statt einzelner Zellen einen Zellbereich übergeben. Wenn Sie z.B. die Werte aus C3, C4, C5 und C6 summieren wollen, müssen Sie nicht jeden einzelnen Zellbezug als Parameter übergeben, sondern können den Bereich als einzelnen Parameter eintragen. Bereiche werden notiert, indem die Zellbezüge für Anfangs- und Endzelle durch einen Doppelpunkt getrennt werden: <kbd>=Summe(C3:C6)</kbd>. Dadurch nimmt Excel auch alle Zellen dazwischen auf. Bereiche können auch zweidimensional sein. Der Bereich <kbd>C2:D4</kbd> umfasst z.B. die Zellen C2, C3, C4, D2, D3 und D4. So können Sie mit der Summenfunktion und Bereichsreferenzierung auch Summen über größere Bereiche bilden, was nur mit Formeln sehr viel Tipparbeit und fehleranfälliger wäre.
</p>
<h5>Zellbereiche Ausfüllen</h5>
<p>
Gelegentlich kommt es vor, dass man dem Datensatz eine neue Spalte hinzufügen und bezogen auf die schon vorhandenen Spalten ausfüllen möchte. So könnte man z.B. die Werte aus Spalte D von denen aus Spalte C subtrahieren und diese Differenzen in einer Spalte E ablegen. Sie müssen aber nicht in jede auszufüllende Zelle die Formel neu schreiben, sondern können die Formel kopieren, alle auszufüllenden Zellen markieren und die Formel einfügen. 
</p>
<h5>Funktionsbibliothek</h5>
<p>
Im Menü unter Formeln > Funktionsbibliothek > Mehr Funktionen > Statistisch finden Sie Funktionen speziell für statistische Berechnungen. Sie müssen die in Excel implementierten Funktionen also nicht auswendig eingeben, sondern können sie aus dem Menü heraussuchen.
</p>
</div>
</div>
