
<h2>Download</h2>
<p>Falls du die Inhalte dieser Webseite gern als Textdokument archivieren willst, kannst du hier ein Dokument mit den von dir bearbeiteten Einheiten bekommen. Du kannst zwischen ein paar Formaten wählen und einstellen, welche Bestandteile du haben möchtest.</p>
<form name="downloadForm" novalidate method="get" action="{{'/api/docs/'+download.format}}" class="form-horizontal">
  <div class="form-group">
    <input type="hidden" name="token" data-ng-model="download.token">
  </div>
  <div class="form-group">
    <div class="col-xs-2">Dateiformat</div>
    <div class="col-xs-10">
      <div class="radio-inline">
        <input type="radio" name="format" value="rtf" id="format-rtf" data-ng-model="download.format">
        <label for="format-rtf">RTF-Format</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="format" value="docx" id="format-docx" data-ng-model="download.format">
        <label for="format-docx">MS Word</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="format" value="epub" id="format-epub" data-ng-model="download.format">
        <label for="format-epub">EPub-Format</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="format" value="markdown" id="format-markdown" data-ng-model="download.format">
        <label for="format-markdown">Markdown</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="format" value="latex" id="format-latex" data-ng-model="download.format">
        <label for="format-latex">LaTex</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2">Inhalte</div>
    <div class="col-xs-10">
      <div class="checkbox-inline">
        <input type="checkbox" name="contents" value="body" id="contents-body">
        <label for="contents-body">Kerntexte</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" name="contents" value="examples" id="contents-examples">
        <label for="contents-examples">Beispiele</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" name="contents" value="extras" id="contents-extras">
        <label for="contents-extras">Zusatzinfos</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2-offset col-xs-10">
      <input type="submit" value="Download" data-ng-class="{'btn-primary': downloadForm.$valid,'btn-danger': downloadForm.$invalid}" class="btn">
    </div>
  </div>
</form>