
<div class="modal-header">
  <h3>Passwort ändern</h3>
</div>
<div class="modal-body">
  <form novalidate name="changePassword.form" class="form-horizontal">
    <formly-form model="changePassword.data" fields="changePassword.fields" form="changePassword.form" options="changePassword.formOptions"></formly-form>
  </form>
</div>
<div class="modal-footer">
  <input type="button" value="abbrechen" ng-click="changePassword.cancel()" class="btn btn-default">
  <input type="button" ng-click="changePassword.change()" ng-class="{'btn-primary': changePassword.form.$valid, 'btn-danger': changePassword.form.$invalid}" value="Ändern" ng-disabled="changePassword.form.$invalid" class="btn">
</div>