.modal-header
  h3 Passwort ändern
.modal-body
  form.form-horizontal(novalidate name="changePassword.form")
    formly-form(model="changePassword.data" fields="changePassword.fields" form="changePassword.form")
.modal-footer
  input.btn.btn-default(type="button" value="abbrechen" ng-click="changePassword.cancel()")
  input.btn(type="button"  ng-click="changePassword.change()" ng-class="{'btn-primary': changePassword.form.$valid, 'btn-danger': changePassword.form.$invalid}" value="Ändern" ng-disabled="changePassword.form.$invalid")