.modal-header
  h3 Neues Subkapitel
.modal-body: form.form-horizontal(novalidate name="new.form" ng-submit="new.save()")
  formly-form(model="add.data" fields="add.fields" form="add.form")
.modal-footer
  input(type="button" ng-click="add.save()" value="Speichern")
  input(type="button" ng-click="add.$dismiss()" value="Abbrechen")