section
	h2 Anmelden
	form.form-horizontal(novalidate name="loginForm" role="form" ng-submit="wbt.authService.login(login.loginData)")
		my-input(label="Username")
			input.form-control(type="text" name="_id" placeholder="username" data-ng-model="login.loginData._id" required maxlength="20" user-exists data-ng-model-options="{debounce: 500}")
			span.help-block(aria-live="assertive" ng-show="loginForm._id.$touched"): span(ng-if="loginForm._id.$valid") Dieser User existiert.
			span.help-block(ng-show="loginForm._id.$touched" role="status"): span(ng-if="loginForm._id.$pending") Prüfe Verfügbarkeit
			span.help-block(ng-messages="loginForm._id.$error" ng-show="loginForm._id.$touched")
				span(ng-message="required") Sie müssen einen Usernamen eingeben.
				span(ng-message="userExists") Dieser User existiert nicht.
		my-input(label="Passwort")
			input.form-control(type="password" name="password" ng-model="login.loginData.password" required minlength="8" placeholder="Passwort")
		.form-group: .col-xs-2-offset.col-xs-10: .btn-group
			input.btn(type="submit" data-ng-class="{'btn-primary': loginForm.$valid, 'btn-danger': loginForm.$invalid}" value="anmelden")
			input.btn.btn-default(type="button" data-ng-click="login.forgot=!login.forgot" value="Passwort vergessen" aria-expanded="{{login.forgot}}" aria-controls="forgot")
section#forgot(data-collapse="!login.forgot")
	h2 Passwort vergessen
	p Wenn Sie Ihre E-Mail-Adresse hinterlegt haben, können Sie hier Ihr Passwort zurücksetzen. Geben Sie hierzu diese Adresse unten ein. Sie bekommen dann eine E-Mail mit einem Link zugesendet. Wenn Sie ihn aufrufen, sind Sie hier wieder angemeldet und können Ihr Passwort in Ihrem Profil ändern. Der Link funktioniert für eine Stunde und Ihr altes Passwort bleibt so lange gültig, bis Sie ein neues festgelegt haben.
	form.form-horizontal(novalidate name="forgotForm" ng-submit="login.forgot(login.forgotData)" role="form")
		my-input(label="E-Mail-Adresse")
			input(type="email" name="email" ng-model="login.forgotData.email" required)
		my-submit(value="E-Mail versenden")
