<h3>Fazit</h3>
<p>
Wenn alles bei der Berechnung funktioniert hat, sollten Sie folgende Werte ermittelt haben:</p>
<ul>
<li>Mittelwert der Differenzen \(\overline{x_d} = -6\)</li>
<li>Standardfehler des Mittelwertes der Differenzen \(\mathit{SEM}_D = 0.2182179\)</li>
<li>Prüfwert \(t(14) = 27.49545\)</li>
</ul>
<p>
Falls sie etwas stärker gerundet haben, ist das kein Problem, aber es sollte schon ungefähr übereinstimmen. Wenn Sie diesen Wert mit dem kritischen \(t\)-Wert geprüft haben, werden Sie festgestellt haben, dass dieses Ergebnis signifikant ist. Inhaltlich heißt das, die Intelligenz vorher und nachher unterscheiden sich signifikant voneinander. Der Test sagt nicht, ob zum besseren oder zum Schlechteren, das sehen Sie erst an den Rohdaten. Der Mittelwert der Differenzen ist negativ (\(-6\)) und wir haben die Nachher-Werte von den Vorher-Werten subtrahiert, also müssen die Nachher-Werte im Mittel größer sein als die Vorher-Werte und die Intelligenz sich zum Guten hin geändert haben.
</p>
<p>
Sie haben nun einiges über signifikanztests gelernt und auf welche Fragestellungen sie angewendet werden, nämlich zur Untersuchung von Mittelwertunterschieden. Es wurde auch angesprochen, dass statistische Signifikanz nicht immer zwangsläufig auch inhaltliche Signifikanz bedeuten muss. Sie haben den \(t\)-Test als Beispieltest kennengelernt, es gibt aber noch viel mehr Tests und Verteilungen, die ebenso eine Modifikation des Grundprinzips sind und auf bestimmte Fragestellungen zugeschnitten sind. Mit dem Gelernten könnten Sie auch in der Lage sein, sich ggf. einen solchen Test anzueignen.
</p>