h3 Test
ng-switch(on="test.state")
  section(ng-switch-when="intro")
    p Es folgen ein paar Testaufgaben, mit deren Hilfe du dein erworbenes Wissen über dieses Kapitel prüfen und festigen kannst. Es gibt mehrere Aufgabentypen:
    dl.dl-horizontal
      dt Multiple-Choice
      dd Eine der angebotenen Antwortmöglichkeiten ist korrekt. Für die korrekte Beantwortung bekommst du einen Punkt.
      dt True/False-Aufgaben
      dd Jede der angebotenen Aussagen ist entweder korrekt oder falsch und muss explizit mittels Kontrollkästchen beantwortet werden. Jede korrekt an- bzw. angewählte Aussage bringt dir einen Punkt, man kann also maximal so viele Punkte bekommen wie es Aussagen in einer Aufgabe gibt. Punktabzug bei Fehlern gibt es nicht.
      dt Ausfüllen
      dd Es gibt keine Antwortoptionen, sondern du musst eine kurze Lösung selbst generieren, z.B. eine Rechenaufgabe usw.
    p Nachdem du dir die Auflösung anzeigen lässt, bekommst du ein Feedback über deine Antwort. Bei Multiple-Choice-Aufgaben kannst du auch dann noch die anderen Antworten anwählen um deren Feedback zu sehen, dies wird dann aber nicht mehr als deine Antwort gewertet.
    p: button.btn.btn-primary(type="button" data-ng-click="test.next()") Alles klar, jetzt anfangen
  form(novalidate data-ng-switch-when="item" data-ng-switch="test.item.type")
    progressbar(type="info" value="test.progress.done" title="Fortschritt" max="test.progress.max")
    .form-group(data-ng-switch-when="single")
      label(data-ng-bind="test.item.text")
      .radio(data-ng-repeat="choice in test.item.choices")
        label
          input(type="radio" name="{{test.item._id}}" data-ng-value="choice" data-ng-model="test.choice")
          |  {{choice.text}}
      p(data-ng-class="test.choice.correct ? 'text-success' : 'text-warning'" data-ng-bind="test.choice.feedback||test.choice.correct ? 'Richtig.' : 'Leider nicht richtig.'" data-ng-show="test.guesses[test.item._id]")
    .form-group(data-ng-switch-when="multiple")
      label(data-ng-bind="test.item.text")
      .checkbox(data-ng-repeat="choice in test.choice")
        label
          input(type="checkbox" name="{{test.item._id}}" data-ng-model="choice.selected")
          |  {{choice.text}}
        p(data-ng-show="test.guesses[test.item._id]" data-ng-class="choice.correct===choice.selected ? 'text-success' : 'text-warning'" data-ng-bind="choice.correct===choice.selected ? choice.feedback.correct : choice.feedback.incorrect")
    .form-group
      button.btn.btn-primary(type="button" data-ng-click="test.guesses[test.item._id] ? test.next() : test.solve()" data-ng-bind="test.guesses[test.item._id] ? 'Weiter' : 'Auflösung'")
  section(data-ng-switch-when="finished")
    progressbar(type="success" value="test.progress.points" max="test.progress.maxPoints" title="korrekt gelöst")
    p Du hast alle Aufgaben für dieses Kapitel bearbeitet und {{test.progress.points}} von {{test.progress.maxPoints}} Punkten erzielt. Du kannst also Kapitel bearbeiten, die dieses Kapitel als Voraussetzung haben. Jetzt wäre eine gute Gelegenheit, die 
      button.btn.btn-sm(type="button" data-ng-click="main.modal.fsk()") Selbsteinschätzung deiner Statistikkenntnisse
      |  aufzufrischen.