.modal-header
  h3 Löschen von Inhalten
.modal-body(ng-switch="kind")
  p(ng-switch-when="image") Möchtest du dieses Bild wirklich vom Server löschen? Falls ja, entferne es bitte ggf. auch umgehend aus den Texten des WBT.
  p(ng-switch-when="unit") Möchtest du wirklich das Kapitel „{{units.selected.title}}“ löschen?
  p(ng-switch-when="topic") Möchtest du wirklich das Subkapitel „{{unit.selected.title}}“ löschen?
.modal-footer
  input(type="button" ng-click="$close()" value="Ja")
  input(type="button" ng-click="$dismiss()" value="Nein")
