<h3>Material</h3>
<p>
Unten sehen Sie den hier verwendeten Datensatz. Wenn Sie möchten, können Sie auch den Datensatz als CSV-Datei herunterladen und mit excel einlesen. Der Datensatz enthält die Variable id, Trainingsform, Intelligenz_vorher und Intelligenz_nachher. Mit id ist sozusagen ein individueller Bezeichner gemeint (manchmal auch Testpersonencode), den jeder Teilnehmer in einem Datensatz erhält. Die Trainingsform unterteilt die Teilnehmer in Einzel-, Paar- und Gruppentraining. Hingegen wurde bei jedem Teilnehmer die Intelligenz vorher und nachher gemessen.
</p>
<iframe id="Daten" data-src="http://88.198.224.218:3838/tamaracha/Daten/"></iframe>