.row
  .col-xs-6
    h3 Videos suchen
    form.form-horizontal(novalidate name="videos.form"): formly-form(fields="videos.fields" form="videos.form" model="videos.searchTerms")
      .form-group
        .col-xs-offset-2.col-xs-10
          button.btn.btn-info(ng-click="videos.search()") Ohne Eingabe suchen
      .form-group
        label.col-xs-2(for="file") Bild hinzufügen
        .col-xs-10
          input(
            type="file"
            nv-file-select
            multiple
            accept="video/*"
            uploader="videos.uploader"
          )
    table.table(ng-if="videos.uploader.queue.length>0")
      thead
        tr
          th Name
          th Fortschritt
          th Hochladen
          th Löschen
      tbody
        tr(ng-repeat="i in videos.uploader.queue")
          td(ng-bind="i.file.name")
          td: uib-progressbar(type="success" value="i.progress")
          td: button.btn.btn-primary(ng-click="i.upload()")
            span.fa.fa-upload(aria-hidden="true")
            span.sr-only Hochladen
          td: button.btn.btn-warning(ng-click="i.remove()")
            span.fa.fa-remove(aria-hidden="true")
            span.sr-only Löschen
        tr
          td Gesamt
          td: uib-progressbar(type="success" value="videos.uploader.progress")
          td: button.btn.btn-primary(ng-click="videos.uploader.uploadAll()")
            span.fa.fa-upload(aria-hidden="true")
            span.sr-only Hochladen
          td: button.btn.btn-warning(ng-click="videos.uploader.clearQueue()")
            span.fa.fa-remove(aria-hidden="true")
            span.sr-only Löschen
    div(uib-collapse="videos.videos.length===0")
      h3 {{videos.videos.length}} Treffer
      ul.nav.nav-pills
        li(ui-sref-active="active" ng-repeat="i in videos.videos")
          a(ui-sref=".video({video: i._id})" ng-bind="i.filename")
  ui-view.col-xs-6