h3 Bilder
.row
  .col-xs-4
    form(novalidate name="images.filterForm")
      label.col-xs-2.control-label(for="filter") Filtern
      input.form-control#filter(type="text" ng-model="images.filter")
    ul.nav.nav-pills.nav-stacked
      li(ui-sref-active="active" ng-repeat="i in images.images | filter: images.filter  track by i._id")
        a(ui-sref=".image({image: i._id})" ng-bind="i.name")
  ui-view.col-xs-8