.row
  .col-xs-6
    h3 Bilder suchen
    form.form-horizontal(novalidate name="images.form"): formly-form(fields="images.fields" form="images.form" model="images.searchTerms")
      .form-group
        .col-xs-offset-2.col-xs-10
          button.btn.btn-info(ng-click="images.search()") Ohne Eingabe suchen
      .form-group
        label.col-xs-2(for="file") Bild hinzufügen
        .col-xs-10
          input(
            type="file"
            nv-file-select
            multiple
            accept="image/*"
            uploader="images.uploader"
          )
    table.table(ng-if="images.uploader.queue.length>0")
      thead
        tr
          th Name
          th Fortschritt
          th Hochladen
          th Löschen
      tbody
        tr(ng-repeat="i in images.uploader.queue")
          td(ng-bind="i.file.name")
          td: uib-progressbar(type="success" value="i.progress")
          td: button.btn.btn-primary(ng-click="i.upload()")
            span.fa.fa-upload(aria-hidden="true")
            span.sr-only Hochladen
          td: button.btn.btn-warning(ng-click="i.remove()")
            span.fa.fa-remove(aria-hidden="true")
            span.sr-only Löschen
        tr
          td Gesamt
          td: uib-progressbar(type="success" value="images.uploader.progress")
          td: button.btn.btn-primary(ng-click="images.uploader.uploadAll()")
            span.fa.fa-upload(aria-hidden="true")
            span.sr-only Hochladen
          td: button.btn.btn-warning(ng-click="images.uploader.clearQueue()")
            span.fa.fa-remove(aria-hidden="true")
            span.sr-only Löschen
    div(uib-collapse="images.images.length===0")
      h3 {{images.images.length}} Treffer
      ul.nav.nav-pills
        li(ui-sref-active="active" ng-repeat="i in images.images")
          a(ui-sref=".image({image: i._id})" ng-bind="i.filename")
  ui-view.col-xs-6