nav.row(role="navigation"): ul.nav.nav-pills
  li(data-ng-repeat="unit in ::content.units" data-ui-sref-active="active"): a(
    data-ui-sref=".unit.description({unit: unit.title})"
    data-ng-bind="::unit.title"
  )
section.row: .col-xs-12(ui-view)
  h2 Wozu überhaupt Statistik?
  p Die Welt ist eine pandimensionale Computertastatur und Gott ist ein dauerzockendes Metawesen, das ununterbrochen diese Tastatur bedient. Wir selbst sind die Mikrokolonie in der Tastatur, die sich von Gottes Chipskrümeln nährt.