uib-alert(type="info" ng-if="topic.patches.length>0 && !topic.error" role="alert")
  span.fa.fa-spinner.fa-spin
  span lade Änderungen hoch…
uib-alert(ng-if="topic.error && topic.error.status === 404" role="alert") Dieses (Sub)kapitel konnte nicht gefunden werden. Es wurde möglicherweise von einem anderen Autor gelöscht.
uib-alert(ng-if="topic.error && topic.error.status === 412" role="alert") Dieses Subkapitel wurde zwischenzeitlich von einem anderen Autor geändert. Mittels Refresh erhältst du die aktuelle Version.
ul.nav.nav-tabs
  li(ui-sref-active="active"): a(ui-sref=".basics") Grunddaten
  li(ui-sref-active="active"): a(ui-sref=".examples") Beispiele
  li(ui-sref-active="active"): a(ui-sref=".extras") Extras
ui-view