include ../mixins/checkbox-inline
include ../mixins/radio-inline
include ../mixins/submit
h2 Download
p Falls du die Inhalte dieser Webseite gern als Textdokument archivieren möchtest, kannst du hier ein Dokument mit den von dir bearbeiteten Kapiteln herunterladen. Du kannst zwischen ein paar Formaten wählen und einstellen, welche Bestandteile du haben möchtest.
form.form-horizontal(name="downloadForm" novalidate method="get" action="/api/downloads")
  input(type="hidden" name="token" ng-value="wbt.identity.token()")
  .form-group
    label.col-xs-2 Kapitel
    .col-xs-10
      .checkbox(data-ng-repeat="unit in download.units")
        label
          input(type="checkbox" name="units" data-ng-value="unit._id" checked)
          |  {{unit.title}}
  +checkbox-inline("contents","Inhalte",{body: "Kerntexte",examples: "Beispiele",extras: "Extras"})(checked)
  +radio-inline("format","Dateiformat",{"rtf": "RTF-Format","docx": "MS Word","epub": "EPub-Format","md": "Markdown","tex": "LaTex"})(data-ng-model="download.format")
  +submit("Download")