
<h3 ng-bind="topic.topic.title"></h3>
<form novalidate name="topic.form" class="form-horizontal">
  <formly-form model="topic.topic" fields="topic.fields" form="topic.form"></formly-form>
</form>
<uib-alert type="info" ng-if="topic.patches.length&gt;0 &amp;&amp; !topic.error" role="alert"><span class="fa fa-spinner fa-spin"></span><span>lade Änderungen hoch…</span></uib-alert>
<uib-alert ng-if="topic.error &amp;&amp; topic.error.status === 404" role="alert">Dieses (Sub)kapitel konnte nicht gefunden werden. Es wurde möglicherweise von einem anderen Autor gelöscht.</uib-alert>
<uib-alert ng-if="topic.error &amp;&amp; topic.error.status === 412" role="alert">Dieses Subkapitel wurde zwischenzeitlich von einem anderen Autor geändert. Mittels Refresh erhältst du die aktuelle Version.</uib-alert>