.modal-header
  h3 Selbsteinschätzung deiner Statistikkenntnisse
.modal-body
  form(name="fskForm" novalidate)
.modal-footer
  input.btn.btn-primary(type="button" data-ng-click="fsk.ok()" value="Abschicken")
  input.btn.btn-default(type="button" data-ng-click="fsk.cancel()" value="Abbrechen")