form.form-horizontal(novalidate name="unit.form")
  formly-form(model="unit.unit" fields="units.fields" form="unit.form")
  .form-group
    label.col-xs-2.control-label(for="selectTopic") Subkapitel
    .col-xs-10: .input-group
      select.form-control#selectTopic(
        ng-options="t.title for t in unit.unit.topics track by t._id"
        ng-model="unit.selected"
      )
      span.input-group-btn
        button.btn.btn-default(type="button" ng-click="unit.new()") Hinzufügen
  .form-group(ng-if="unit.selected")
    label.control-label.col-xs-2(for="move") Bewegen
    .col-xs-10: .input-group
      span.input-group-btn
        button.btn.btn-default(type="button" ng-click="unit.move(-1)")
          span.fa.fa-arrow-up(aria-hidden="true")
          span hoch
      input.form-control#move(type="number" ng-model="unit.step" min="1" max="{{unit.unit.topics.length}}" step="1")
      span.input-group-btn
        button.btn.btn-default(type="button" ng-click="unit.move(1)")
          span.fa.fa-arrow-down(aria-hidden="true")
          span runter
  .form-group(ng-if="unit.selected")
    .col-xs-offset-2.col-xs-10: .btn-group
      a.btn.btn-link(ui-sref="main.content.unit.topic({unit: units.selected._id, topic: unit.selected._id})") Anschauen
      a.btn.btn-link(ui-sref="main.author.units.unit.topic({unit: units.selected._id, topic: unit.selected._id})") Bearbeiten
      button.btn.btn-danger(type="button" ng-click="unit.remove()")
        span.fa.fa-times
        span löschen
