include ../mixins/text-input

section
  h2 Lerneinheiten
  .btn-group(aria-label="Lerneinheiten")
    .btn-group(role="group" dropdown is-open="status.isOpen" data-ng-repeat="unit in admin.units")
      button.btn.btn-default.dropdown-toggle(type="button" dropdown-toggle)
        | {{unit.title}}
        span.caret
      ul.dropdown-menu(role="menu")
        li: button.btn.btn-success(type="button" data-ng-click="admin.findOne(unit._id)") Bearbeiten
        li: button.btn.btn-warning(type="button" data-ng-click="admin.remove(unit._id)") löschen
section
  h2(data-ng-bind="admin.unit.title||'neue Lerneinheit'")
  tabset
    tab(heading="Bearbeiten" active="true"): form(novalidate data-ng-submit="admin.submit()" name="unitForm")
      fieldset
        legend Haupteigenschaften
        +text-input("position","Position")(type="number" data-ng-model="admin.unit.position")
        +text-input("unittitle","Titel")(data-ng-model="admin.unit.title" required)
          .help-block(data-ng-if!="admin.unit._id&&unitForm.unittitle.$dirty") ursprünglich {{admin.status.origTitle}}
        +text-input("unit-subtitle","Untertitel")(data-ng-model="admin.unit.subtitle")
        +text-input("description","Beschreibung",true)(data-ng-model="admin.unit.description" required)
      fieldset
        legend Voraussetzungen
        .checkbox(data-ng-repeat="unit in admin.status.requires")
          input(type="checkbox" name="requires" id="{{requires+'-'+unit._id}}" data-ng-model="unit.checked")
          label(for="{{requires+'-'+unit._id}}" data-ng-bind="unit.title")
      fieldset
        legend Themen
        .btn-group(aria-label="Themen")
          .btn-group(role="group" dropdown is-open="status.isOpen" data-ng-repeat="topic in admin.units.topics")
            button.btn.btn-default.dropdown-toggle(type="button" dropdown-toggle)
              | {{topic.title}}
              span.caret
            ul.dropdown-menu
              li: button.btn.btn-success(type="button" data-ng-click="admin.setTopic(topic._id)") Bearbeiten
              li: button.btn.btn-warning(type="button" data-ng-click="admin.removeTopic(unit._id)") Löschen
          button.btn.btn-default(type="button" data-ng-click="admin.addTopic()") Neu
        +text-input("topictitle","Titel")(data-ng-model="admin.topic.title" required)
        +text-input("topicsubtitle","Untertitel")(data-ng-model="admin.topic.subtitle")
        +text-input("topic-body","Kerntext",true)(data-ng-model="admin.topic.body" required)
        .form-group
          input.btn.btn-default(type="button" ng-click="saveTopic()" value="Thema der Einheit hinzufügen")
      .form-group: .btn-group
        button.btn.btn-default(type="button" data-ng-click="admin.resetForm()") Neue Einheit erstellen
        input.btn.btn-primary(type="submit" value="hochladen")
    tab(heading="Vorschau")
      p(md="admin.unit.description")
      h3(data-ng-repeat-start="topic in admin.unit.topics" data-ng-bind="topic|title")
      p(data-ng-repeat-end md="topic.body")