<!doctype html>
<html lang="de">
<head>
<title>{{=it.title}}</title>
<meta charset="utf-8"/>
<base href="{{=it.base}}"/>
{{
var versions = {
  angular: '1.4.9',
  bootstrap: '3.3.6',
  fontAwesome: '4.4.0',
  jquery: '2.1.4',
  lodash: '4.1.0'
};
var styles = [
  'https://maxcdn.bootstrapcdn.com/bootstrap/'+versions.bootstrap+'/css/bootstrap',
  'https://maxcdn.bootstrapcdn.com/font-awesome/'+versions.fontAwesome+'/css/font-awesome'
];
var scripts = [
  'https://ajax.googleapis.com/ajax/libs/jquery/'+versions.jquery+'/jquery',
  'https://ajax.googleapis.com/ajax/libs/angularjs/'+versions.angular+'/angular',
  'https://ajax.googleapis.com/ajax/libs/angularjs/'+versions.angular+'/angular-messages',
  'https://ajax.googleapis.com/ajax/libs/angularjs/'+versions.angular+'/angular-aria',
  'https://ajax.googleapis.com/ajax/libs/angularjs/'+versions.angular+'/angular-animate',
  'https://ajax.googleapis.com/ajax/libs/angularjs/'+versions.angular+'/angular-sanitize',
  'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/'+versions.lodash+'/lodash'
];
}}
{{~ styles : s }}
{{? it.env !== 'production'}}
<link href="{{=s}}.css" rel="stylesheet"/>
{{?? it.env === 'production' }}
<link href="{{=s}}.min.css" rel="stylesheet"/>
{{?}}
{{~}}
{{~ scripts : s }}
{{? it.env !== 'production'}}
<script src="{{=s}}.js"></script>
{{?? it.env === 'production' }}
<script src="{{=s}}.min.js"></script>
{{?}}
{{~}}
{{? it.env === 'production'}}
<script src="dist/vendors.js"></script>
{{?}}
<script src="dist/app.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body ng-cloak username="{{=it.username}}">
<ui-view></ui-view>
</body>
</html>