include /mixins/submit
h3 Testaufgaben
p(ng-if="tests.tests.length===0") Noch keine Testaufgaben hinzugefügt
form.form-horizontal(novalidate name="tests.testsForm" ng-if="tests.tests.length>0")
  .form-group
    label.col-xs-2.control-label(for="selectTest") Aufgabe
    .col-xs-10
      select.form-control#selectTest(name="selectTest" ng-model="tests.selected" ng-options="v.text for v in tests.tests track by v._id" ng-change="tests.onChange()")
        option(value="") Neue Aufgabe
  .form-group(ng-if="tests.selected")
    .col-xs-offset-2.col-xs-10
      input.btn.btn-danger(type="button" value="Löschen" ng-click="tests.remove()")
form.form-horizontal(novalidate ng-if="tests.selected")
  formly-form(model="tests.selected" fields="tests.fields" form="tests.testForm")
form.form-horizontal(novalidate name="tests.newTestForm" ng-submit="tests.create()" ng-if="!tests.selected")
  formly-form(model="tests.newTest" fields="tests.fields" form="tests.newTestForm")
        +submit('Erstellen', 'tests.newTestForm')
uib-alert(type="info" ng-if="tests.patches.length>0 && !tests.error" role="alert")
  span.fa.fa-spinner.fa-spin
  span lade Änderungen hoch…
uib-alert(ng-if="tests.error && tests.error.status === 404") Diese Aufgabe konnte nicht gefunden werden. Sie wurde möglicherweise von einem anderen Autor gelöscht.
uib-alert(ng-if="tests.error && tests.error.status === 412" role="alert") Diese Aufgabe wurde zwischenzeitlich von einem anderen Autor geändert. Mittels Refresh erhältst du die aktuelle Version.
