.form-group
  p(data-ng-bind="item.item.text")
  .radio(data-ng-repeat="choice in item.item.choices")
    label
      input(type="radio" name="{{item.item._id}}" data-ng-value="choice")
      |  {{choice.text}}