h3 Profil
p(ng-if="!main.user.authenticated") Nicht angemeldet
form.form-horizontal(novalidate name="profile.form" ng-if="main.user.authenticated")
  formly-form(model="main.user.data" fields="profile.fields" form="profile.form")
    .form-group
      .col-xs-offset-2.col-xs-10
        input.btn.btn-warning(type="button" ng-click="main.user.changePassword()" value="Passwort ändern")
  .alert.alert-success(ng-if="profile.patches.length===0" role="alert") alles aktualisiert
  .alert.alert-info(ng-if="profile.patches.length>0" role="alert") aktualisiere…
  .alert.alert-danger(ng-if="profile.error" role="alert") Fehler beim Aktualisieren
