<h3>Standardnormalverteilung</h3>
<p>
Die Standardnormalverteilung ist eine Normalverteilung mit den Parametern \(μ = 0\) und \(σ = 1\). Wenn Merkmale in der Standardnormalverteilung vorliegen, hat das den großen Vorteil, dass Sie Werte aus dem einen Merkmal mit Werten aus dem anderen Merkmal vergleichen können. Sie erinnern sich hoffentlich noch an die Absolutskala und die \(z\)-Standardisierung. Die Standardnormalverteilung ist eine Normalverteilung, deren Werte \(z\)-transformiert wurden. Wenn wir normalverteilte Merkmale mit unterschiedlichen Parametern haben, können wir sie einfach selbst mittels \(z\)-Transformation standardisieren. Außerdem erleichtert diese Form das berechnen der Auftretenswahrscheinlichkeit von Merkmalsbereichen, weil die Werte schon direkt ausdrücken, um wie viele Standardabweichungen sie vom Mittelwert entfernt liegen.
</p>
<div class="quiz multiplechoice">
<p>
Ein Kind macht einen Schulleistungstest und einen Intelligenztest. Im Leistungstest erreicht es einen Wert von 80 und einen IQ von 100.
Worin ist das Kind besser, bei welchem Merkmal liegt es weiter oben in der jeweiligen Häufigkeitsverteilung?
</p>
<dl>
<dt>Leistungstest</dt>
<dd>\(μ = 50\), \(σ = 10\)</dd>
<dt>Intelligenz</dt>
<dd>\(μ = 100\), \(σ = 15\)</dd>
</dl>
<ol>
<li>
<input type="radio" name="mc" value="0" id="stnorm_1">
<label for="stnorm_1">Intelligenz</label>
</li>
<li>
<input type="radio" name="mc" value="1" id="stnorm_2">
<label for="stnorm_2">Schulleistung</label>
</li>
<li>
<input type="radio" name="mc" value="0" id="stnorm_3">
<label for="stnorm_3">beides gleich gut</label>
</li>
</ol>
<p>
	<input type="button" name="aufloesungMC" value="Überprüfen">
</p>
<div class="feedback" id="Dialogstnorm_1">
<p>
Sie haben wahrscheinlich die werte direkt verglichen. Richtig wäre Antwort 2 (Schulleistung), weil dort die Leistung des Kindes drei Standardabweichungen über dem Durchschnitt liegt, während seine Intelligenz durchschnittlich ist.
</p>
</div>
<div class="feedback" id="Dialogstnorm_2">
<p>
Sehr gut! Der Leistungsindex von 80 liegt satte drei Standardabweichungen über dem Mittelwert, d.h., nur etwa 2 Promille sind gleich gut oder besser in der Schulleistung, während die Intelligenz von 100 dem Durchschnitt entspricht.
</p>
</div>
<div class="feedback" id="Dialogstnorm_3">
<p>
Wahrscheinlich haben Sie sich bei der Rechnung vertan. Richtig wäre Antwort 2 (Schulleistung) gewesen. Dort liegt das Kind drei Standardabweichungen über dem Durchschnitt, d.h. nur etwa 2 Promille sind gleich gut oder besser, während es bei der Intelligenz durchschnittlich ist.
</p>
</div>
</div>