<h3>Fehlerbalken</h3>
<p>
In Grafiken wird der Standardfehler des Mittelwertes dargestellt, indem man Fehlerbalken einzeichnet. Dabei werden Mittelwerte als Punkte dargestellt und die Fehlerbalken sind Striche auf diesen Punkten, deren Länge das Vertrauensintervall ausdrückt. Hier sind die Mittelwerte der Denktrainingsdaten mit Fehlerbalken aufgeführt (\(± 1\mathit{SEM}\)). Jeder Punkt stellt die Mittlere Intelligenz einer Trainingsform/Zeitpunkt-Kombination dar.
</p>
<iframe data-src="http://88.198.224.218:3838/tamaracha/Daten_Fehlerbalken/"></iframe>
