include /mixins/submit
form.form-horizontal(novalidate name="new.form" ng-submit="new.save()")
  formly-form(model="new.topic" fields="topics.fields" form="new.form")
    +submit('Erstellen','new.form')
