<h3>Zusammenfassung</h3>
<p>
Sie haben nun in diesem Kapitel gelernt, Daten durch die zentrale Tendenz und Streuung zu beschreiben, Sie können unterschiedliche Kennwerte für diese Eigenschaften berechnen und kennen schon eine grafische Darstellungsform, die diese Eigenschaften hervorhebt. Damit können Sie sich schon einen guten Eindruck über verschiedene Daten verschaffen. Bestenfalls haben Sie jetzt mehr Fragen als vor dem Studium dieser Lerneinheit, auf die im Folgenden differenzierter eingegangen wird. Außerdem werden Sie auch mehr grafische Darstellungsformen mit ihren besonderen Einsatzgebieten kennen lernen.
</p>
