<h3>Streuung: Test</h3>
<p>
Bearbeiten Sie nun die folgenden Aufgaben zum Thema Streuung. Sie sollen die eben gelernten Streuungskennwerte für die Trainingsdaten bestimmen.
</p>
<div class="quiz multiplechoice">
<p>
Wie lautet die Standardabweichung der Intelligenz vor dem Training?
</p>
<ol>
<li>
	<input type="radio" name="mc" id="Var-A-1" value="0">
	<label for="Var-A-1">\(s^2 = 0\)</label>
</li>
<li>
	<input type="radio" name="mc" id="Var-A-2" value="0">
	<label for="Var-A-2">\(s^2 = 77,2\)</label>
</li>
<li>
	<input type="radio" name="mc" id="Var-A-3" value="0">
	<label for="Var-A-3">\(s^2 = 64,4\)</label>
</li>
<li>
	<input type="radio" name="mc" id="Var-A-4" value="1">
	<label for="Var-A-4">\(s^2 = 8,79\)</label>
</li>
</ol>
<p>
<input type="button" name="aufloesungMC" value="Überprüfen">
</p>
<div class="feedback" id="DialogVar-A-1">
Sie haben wahrscheinlich vergessen, die Differenzen zu quadrieren.
</div>
<div class="feedback" id="DialogVar-A-2">
Sie haben die Varianz richtig berechnet, aber vergessen, die Wurzel zu ziehen um auf die Standardabweichung zu kommen.
</div>
<div class="feedback" id="DialogVar-A-3">
Falls Sie hier geraten haben, versuchen Sie beim nächsten Mal wieder zu rechnen.
</div>
<div class="feedback" id="DialogVar-A-4">
Sehr gut. Sie haben alle Rechenschritte richtig gelöst und die Standardabweichung ermittelt.
</div>
</div>

<div class="quiz lueckentext">
<p>
Wie lauten Range und Interquartilsabstand für die Intelligenz vorher und nachher?
</p>
<table>
<thead>
<tr>
<th>Streuungsmaß</th>
<th>Intelligenz vorher</th>
<th>Intelligenz nachher</th>
</tr>
</thead>
<tbody>
<tr>
<th>Range</th>
<td><input type="text" class="textfield" data-fill="24"></td>
<td><input type="text" class="textfield" data-fill="26"></td>
</tr>
<tr>
<th>Interquartilsabstand</th>
<td><input type="text" class="textfield" data-fill="14"></td>
<td><input type="text" class="textfield" data-fill="16"></td>
</tr>
</tbody>
</table>
<div class="controls">
<input type="button" id="aufloesungxy" name="aufloesungLuecke" value="Überprüfen">
</div>
			            <div class="feedback right">
Sehr gut! Sie haben alle Kennwerte richtig berechnet.
</div>
			            <div class="feedback wrong">
Sie haben noch nicht alle Kennwerte richtig berechnet. Sehen Sie mittels der Info-Icons nach, welche Werte falsch sind und sehen sich die entsprechende Stelle hier im Kapitel noch einmal an oder üben ggf. noch einmal das Berechnen der Standardabweichung.
			            </div>
		            </div>
<iframe id="StreuungPraxis" data-src="http://88.198.224.218:3838/tamaracha/Daten/"></iframe>
