<h3>Zentrale Tendenz: Übung</h3>
<p>
Bitte üben Sie hier in der interaktiven Anwendung das berechnen von Mittelwerten, Median und die Handhabung des Summenzeichens. Die Stichproben werden zufallsgeneriert und Sie können so viele erzeugen, wie sie möchten. Tragen Sie die jeweiligen Werte in die Felder ein. Der Button darunter aktualisiert die Hinweisanzeigen, die Ihnen mitteilen, ob Sie richtig liegen. Geben Sie Ihre Lösungen um mindestens eine Dezimalstelle genau in die Felder ein, aber behalten Sie bei der Berechnung der Zwischenergebnisse möglichst viele Dezimalstellen. Wenn Sie also z.B. mit Excel rechnen, verwenden Sie die Zwischenergebnisse zum weiterrechnen, die Excel ausgibt, aber geben die gerundete Form in die Felder hier ein.
</p>
<iframe data-src="http://88.198.224.218:3838/tamaracha/zentraleTendenz/" id="zentral"></iframe>
