<h3>Zentrale Tendenz: Test</h3>
<p>
Bitte berechnen Sie für unsere Denktrainingsdaten die Mittelwerte und Mediane, sowohl für Intelligenz_vorher, als auch Intelligenz_nachher. Tragen Sie zuerst alle Ihre Lösungen in die folgende Tabelle ein und überprüfen erst dann Ihr Ergebnis mit dem darunter stehenden Button. Nach einmaligem Betätigen ist der Button gesperrt und jedes Eingabefeld erhält ein „i“ mit den richtigen Lösungen als Tooltips. Die Denktrainingsdaten sind darunter noch einmal zum Download eingefügt.
</p>
<div class="quiz lueckentext">
<table>
<thead>
<tr>
<th>Maß der zentralen Tendenz</th>
<th>Intelligenz vorher</th>
<th>Intelligenz nachher</th>
</tr>
</thead>
<tbody>
<tr>
<th>Mittelwert (\(\overline{x}\))</th>
<td><input type="text" class="textfield" data-fill="100"></td>
<td><input type="text" class="textfield" data-fill="106"></td>
</tr>
<tr>
<th>Median</th>
<td><input type="text" class="textfield" data-fill="100"></td>
<td><input type="text" class="textfield" data-fill="106"></td>
</tr>
</tbody>
</table>
<div class="controls">
<input type="button" id="aufloesungyx" name="aufloesungLuecke" value="Überprüfen">
</div>
			            <div class="feedback right">
Sehr gut! Sie haben alle Kennwerte richtig berechnet.
</div>
			            <div class="feedback wrong">
Sie haben noch nicht alle Kennwerte richtig berechnet. Sehen Sie mittels der Info-Icons nach, welche Werte falsch sind und sehen sich die entsprechende Stelle hier im Kapitel noch einmal an.
			            </div>
		            </div>
<iframe id="zentralpraxis" data-src="http://88.198.224.218:3838/tamaracha/Daten/"></iframe>
