<h3>Testaufgaben</h3>
<p ng-if="tests.tests.length===0">Noch keine Testaufgaben hinzugefügt</p>
<form novalidate name="tests.testsForm" ng-if="tests.tests.length>0" class="form-horizontal">
  <div class="form-group">
    <label for="selectTest" class="col-xs-2 control-label">Aufgabe</label>
    <div class="col-xs-10">
      <select id="selectTest" name="selectTest" ng-model="tests.selected" ng-options="v.text for v in tests.tests track by v._id" ng-change="tests.select()" class="form-control">
        <option value="">Neue Aufgabe</option>
      </select>
    </div>
  </div>
  <div ng-if="tests.selected" class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <input type="button" value="Löschen" ng-click="tests.remove()" class="btn btn-danger">
    </div>
  </div>
</form>
<ui-view>
  <form novalidate name="tests.form" ng-submit="tests.create()" class="form-horizontal">
    <formly-form model="tests.test" fields="tests.fields" form="tests.form">
      <div class="form-group">
        <div class="col-xs-2-offset col-xs-10">
          <input type="submit" value="Erstellen" ng-class="{'btn-primary': tests.form.$valid,'btn-danger': tests.form.$invalid&&tests.form.$touched}" ng-disabled="tests.form.$invalid" class="btn">
        </div>
      </div>
    </formly-form>
  </form>
</ui-view>