<uib-tabset>
<uib-tab active="true" heading="Markdown">
<textarea ng-model="model[options.key]" class="form-control" style="height:100%"></textarea>
</uib-tab>
<uib-tab heading="Vorschau">
<div markdown="model[options.key]" math-jax></div>
</uib-tab>
<uib-tab heading="Nebeneinander">
<textarea ng-model="model[options.key]" class="form-control" style="height:100%;width:50%;display:inline-block"></textarea>
<div markdown="model[options.key]" style="width:50%;display:inline-block" math-jax></div>
</uib-tab>
</uib-tabset>