
<h4 ng-bind="to.label"></h4>
<div ng-repeat="element in model[options.key] track by element._id" ng-init="fields = copyFields(to.fields)" class="repeatsection">
  <formly-form fields="fields" model="element" bind-name="'formly_ng_repeat' + index + $parent.$index"></formly-form>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button ng-click="model[options.key].splice($index, 1)" class="btn btn-sm btn-danger">Löschen</button>
    </div>
  </div>
  <hr>
</div>
<div class="form-group">
  <div class="col-xs-offset-2 col-xs-10">
    <button type="button" ng-click="addNew()" ng-bind="to.btnText" class="btn btn-primary"></button>
  </div>
</div>