<h4 ng-bind="to.label"></h4>
<div>
	<div>
    <div ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
      <formly-form fields="fields"
                   model="element"
                   form="form">
      </formly-form>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="button" class="btn btn-danger" ng-click="model[options.key].splice($index, 1)">
            Löschen
          </button>
        </div>
      </div>
      <hr>
  </div>
  <div class="form-group">
    <label class="col-xs-2 control-label" for="newText">Neue Antwort</label>
    <div class="col-xs-10">
      <div class="input-group">
        <input type="text" id="newText" class="form-control" ng-model="newText">
        <div class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="addNew()" >{{to.btnText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>